body, html{
  background-color: #f1cfe3da;
  color: #050505;
  font-family: "Fjalla One", Arial;
  margin:0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 400;
  color: #666;
  height:100%;
}

.pimg1{
  background-image:url('../Images/img1.jpeg');
  min-height:100%;
}

.pimg2{
  background-image:url('../Images/img2.jpeg');
  min-height:400px;
}

.pimg3{
  background-image:url('../Images/img3.jpeg');
  min-height:400px;
}
.pimg1, .pimg2, .pimg3{
  background-repeat:no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  opacity: 0.70;
  background-attachment:fixed;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  color: #666;
  background-color: #f4f4f4;
}

.section-dark{
  color: #ddd;
  background-color: #282e34;
}

.ptext{
  font-size: 27px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  position:absolute;
  width:100%;
  top: 50%;
  letter-spacing:8px;
}

.ptext .border{
  color: #ffffff;
  background-color: #111;
  padding:20 px:
}


.topnav {
  overflow: hidden;
  background-color: #64114b;
}

.topnav a {
  float: left;
  color: #c7c7c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #7a73e6;
  color: #000000;
}

.topnav a.active {
  background-color: #db74b0;
  color: #ffffff;
}


#showcase h1{
  color: #080808;
  font-size: 50px;
  line-height: 1.2em;
  text-align: center;
}

#main{
  /* width: 80%; */
  font-size: 18px;
  line-height: 1.6em;
  color: #f3f0f0;
  text-align: center;
  box-sizing: border-box;
}

form {
  line-height: 30px;
}

h1 {
  font-size: 20;
  overflow: break;
}

.overlay {
  width: 40px;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: auto;
  background-color: #ffffffe6;
  border-radius: 40px;
  text-align: center;
}


#main-footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding:20px;
  margin-top: 40px; 
  
} 

